*{
    margin: 0; padding: 0;
    font-family: 'Raleway', sans-serif;
  
 
    
}
body{
    background-image: url('edu-lauton-TyQ-0lPp6e4-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 90rem;
    background-position:top;
}
.container{
    width: 50%;
    height: 35vh;
    border-radius: 150px;
    
    display: flex;
    flex-direction: column;
   
    border: 5px solid #D6D3D3 ;
    color: white;
   margin-left: 50px;
   align-items: center;
   text-align: center;
   justify-content: center;


}
.container #time{
    color:rgb(131, 54, 54);
    font-size: 45px;
    font-weight: lighter;
}
.container p{
    margin: 15px 0 20px 0;
}
.container h1{
    letter-spacing: 1px;
    font-size: 30px;
}


#btn{
background-color: #D6D3D3;
width: 7rem;
color:  black;
height: 2rem;
padding: 5px;
cursor: pointer;
font-size: 12px;
border: none;
border-radius:50px ;
outline: none;
}
#btn:hover{
    background-color:rgb(131, 54, 54);
    color: white;
}
#btn:active{
   transform: translateY(10px);
}
.social{
   
    height: 10vh;
    width: 20%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;

}


.social h6{
    color: white;
    letter-spacing: 1px;
}
.social #name{
    color:rgb(131, 54, 54) ;
}

.social .icon{
    width: 100%;
    display: flex;
    margin-top: 5px;
    

}
.icon a img{
    width: 22px;
    margin: 0 3px 0 3px;
}













 /* for moblie  */
@media only screen and (min-width:100px) and (max-width:1000px){
    .container{
        width: 100% !important;
        height: auto !important;
        padding: 1.5rem;

    }
   .container h1{
        width: 70%;
     
    }
    .container p{
        width: 80%;
        font-size: .7rem;
     
    }
}