*{
    margin: 0; padding: 0;
    font-family: 'Raleway', sans-serif;
  
 
    
}
body{
    background-image: url('edu-lauton-TyQ-0lPp6e4-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 90rem;
    background-position:top;
}
.container{
    width: 50%;
    height: 35vh;
    border-radius: 150px;
    
    display: flex;
    flex-direction: column;
   
    border: 5px solid #D6D3D3 ;
    color: white;
   margin-left: 50px;
   align-items: center;
   text-align: center;
   justify-content: center;


}
.container #time{
    color:rgb(131, 54, 54);
    font-size: 45px;
    font-weight: lighter;
}
.container p{
    margin: 15px 0 20px 0;
}
.container h1{
    letter-spacing: 1px;
    font-size: 30px;
}


#btn{
background-color: #D6D3D3;
width: 7rem;
color:  black;
height: 2rem;
padding: 5px;
cursor: pointer;
font-size: 12px;
border: none;
border-radius:50px ;
outline: none;
}
#btn:hover{
    background-color:rgb(131, 54, 54);
    color: white;
}
#btn:active{
   transform: translateY(10px);
}
.social{
   
    height: 10vh;
    width: 58%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    justify-content: center;

}


.social h6{
    
    letter-spacing: 1px;
    color:rgb(131, 54, 54);
    

}

.social .icon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    

}
.icon a img{
    width: 22px;
    margin: 0 3px 0 3px;
}













 /* for moblie  */
@media only screen and (min-width:200px) and (max-width:500px){
    body{
        width: 100% !important;
        background-size: cover !important;
        height: 100vh;
        overflow: hidden;

        
    }
    .mian{
        width: 100%;
        height: 70vh;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .container{
        width: 60% !important;
        height: 50vh !important;
        margin: 0 !important;
        border: solid 3px;


    }
   .container h1{
        width: 80%;
        font-size: 10px !important;
        border-radius: 5px !important;
        margin: 0px 0px 10px 0px !important;

     
    }
    #time{
        font-size: 20px !important;
        width: 75% !important;
    }
    #btn{
        width: 5rem !important;
        height: 1.5rem !important;
        font-size: .5rem !important;

    }
    .container p{
        width: 80%;
        font-size: .5rem;
        margin: 0 !important;
        
        margin: 0px 0px 10px 0px !important;


     
    }
    .social{
        
        margin: 0 !important;
        margin: 40px 0 0 0px !important;
        display: flex;justify-content: center;
        
        width: 100%;
        

    }
    h6{
        font-size: 10px;
    }
    .icon{
        
        display: flex;
        justify-content: center;
    }
    .icon a img{
        width: 17px;
    }
}